# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.dat
*.gnu
maxyee_par
src/maxyee
yee.mtv
maxyee
*.swp
data/
image*.gif
Manifest.toml
maxwell_mpi_fortran
maxwell_serial_fortran
.ipynb_checkpoints/read_data-checkpoint.jl
Manifest.toml
